* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.calbody {
  width: 300px;
  height: 456px;
  background-color: rgb(85, 84, 84);
  border-radius: 7px;
}

button {
  height: 65px;
  width: 65px;
  margin: 2px;
  border: none;
  border-radius: 7px;
  background-color: white;
}

button.ac {
  width: 134px;
}

button.eq {
  width: 134px;
}

button:hover {
  background-color: black;
  color: white;
}